body,
html {
	padding: 0;
	margin: 0;
}
body {
	font-size: 16px;
}
.App {
	text-align: center;
	min-height: 100vh;
}

.App-header {
	background-color: #282c34;
	font-size: calc(10px + 2vmin);
	color: white;
}

h1 {
	margin: 1rem 0;
	font-size: 2.5rem;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 2px 2px 1px cyan;
}
h2 {
	margin: 2rem 0 1rem;
	font-size: 2rem;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: -1px -1px 0px magenta;
}
h3 {
	margin: 1rem 0;
	font-size: 1.5rem;
	font-weight: 600;
	font-style: italic;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px white;
}
button,
input[type="submit"] {
	padding: 0.25rem 0.5rem;
	background-color: brown;
	color: white;
	border-radius: 0.5rem;
	font-weight: bold;
	transition: 0.2s background-color ease-in-out;
	margin: 0 0.25rem;
}
button:hover,
input[type="submit"]:hover {
	background-color: black;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
	color: black;
	margin: 0 0.25rem;
	padding: 0.25rem 0.5rem;
	background-color: zinc;
	border-radius: 0.5rem;
}
p {
	margin: 1rem 0;
}
label {
	cursor: pointer;
}
main {
	padding-top: 1rem;
}
p.form-error {
	top: 0;
	right: 0;
	display: block;
}
nav a {
	text-shadow: 2px 2px 0px white;
	color: black;
	transition: 0.05s text-shadow linear;
	font-weight: 900;
}
nav a:hover {
	text-shadow: -1px -1px 0 white;
}
